body {
    margin: 100px;
}

.img {
    width: 150px;
    border: 6px dotted palevioletred;
    border-radius: 40px;  
}

.card {
    box-shadow: 10px 10px;
    display: flex;
    justify-content: space-around;
    border-bottom: 6px white;
    border-radius: 20px;
    background-color: lightpink;
    padding: 20px;
    margin-left: auto;
    margin-left: auto;
    text-align: center;
}

.h {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 2px 2px whitesmoke;
}

.h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}